:root{
    --title-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    background-color: #fff;
}
ul{
    list-style: none;
}
.contact-nav:hover,
.contact-nav:focus,
.order-link:hover{
    color: var(--accent-color);
}

/* Nav */
.logo {
    color: var(--accent-color);
}
.studio {
    color: #2F303A;
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link{
    color: var(--title-color);
}
.contact-nav .link{
    color: var(--text-color);
}

/* Order */
.order {
    background-color: #2F303A;
}
.order-title {
    color: #ffffff;
}
.order-link {
    background: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* Features */
.title{
    color: --var(--title-color);
}
.text{
    color: var(--text-color);
}
/* Services */
.section-services .title-services{
    color: var(--title-color);
}
/* Team */
.section-team {
    background-color: #F5F4FA;
}
.team-title{
    color: var(--title-color);
}
.name-title{
    color: var(--title-color);
}
.team-text{
    color: var(--text-color);
}
/* Footer */
.footer {
    background-color: #2F303A;
}
.studio-footer,
.adress{
    color: #ffffff;
}
/* Buttons */
.button-list:active {
    color: var(--accent-color);
}
.button{
    background-color: #F5F4FA;
    color: var(--title-color);
}
.button:hover,
button:focus {
    background-color: var(--accent-color);
    color:#ffffff;
}





 